{% extends 'base.html' %}

{% block title %}
Category
{% endblock title %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for row in account_list %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.number }}</td>
                <td>{{ row.receipts.all|length }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
