{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for row in receipts.all %}
                    <tr>
                        <td>{{ row.vendor }}</td>
                        <td>{{ row.total }}</td>
                        <td>{{ row.tax }}</td>
                        <td>{{ row.date|date:"m/d/y" }}</td>
                        <td>{{ row.category }}</td>
                        <td>{{ row.account }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
